---
import RoomsStyles from '../styles/rooms.css'

const res = await fetch("http://localhost:8080/api/rooms");
const rooms: Room[] = await res.json();

interface User {
    ID:         string,
    Username:   string,
}
interface Room {
    ID:             string,
    Label:          string,
    Description:    string,
    Users:          User[],
};
const url = Astro.url.pathname
console.log(url + rooms[2].ID);
---

<h1 class={RoomsStyles}>Choisis ton environnement !</h1>    

<article class={RoomsStyles}>
    {
        rooms.map((room)=>(
        <section class={`room${room.ID}`}>
            <h2>{room.Label}</h2>
            <p>{room.Description}</p>
            <a href={url + "/" + room.ID}>
                Rejoindre la salle
            </a>
        </section>
        ))
    }
</article>

